---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { render } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

import { formatDate } from "@lib/util";

import Seo from "@components/Seo.astro";
import Footer from "@components/Footer.astro";
import TableOfContents from "@widgets/TableOfContents.astro";
import PostNavigation from "@widgets/PostNavigation.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// type Props = CollectionEntry<"blog">;

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

function getNextPost() {
  let postIndex;
  for (const post of blog) {
    if (post.slug === Astro.params.slug) {
      postIndex = blog.indexOf(post);
      return blog[postIndex + 1];
    }
  }
}

function getPrevPost() {
  let postIndex;
  for (const post of blog) {
    if (post.slug === Astro.params.slug) {
      postIndex = blog.indexOf(post);
      return blog[postIndex - 1];
    }
  }
}

const nextPost = getNextPost();
const prevPost = getPrevPost();

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<BaseLayout>
  <Seo slot="head" post={post} />
  <h1 class="animate">{post.data.title}</h1>
  <p class="animate">
    {formatDate(post.data.pubDate)}
  </p>
  <hr class="animate my-8" />
  <div>
    {
      post.data.image && (
        <figure>
          <Image
            id="blog-post-image"
            src={post.data.image}
            alt={post.data.imageAlt || ""}
            class="animate h-auto w-full rounded shadow-md dark:shadow-white/15"
            loading="eager"
            decoding="async"
            width="608"
            height="405"
          />
          <figcaption class="animate text-sm">{post.data.imageAlt}</figcaption>
        </figure>
      )
    }

    <TableOfContents headings={headings} />

    <div class="animate content prose mx-auto dark:prose-invert">
      <Content />
    </div>
  </div>

  <PostNavigation prevPost={prevPost} nextPost={nextPost} />

  <Footer />
</BaseLayout>
