---
type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;

const baseClasses =
  "hover:bg-purple-900 hover:text-white text-black dark:text-white shadow-sm my-4 px-2 py-1 border rounded-md focus:ring focus:ring-purple-900 focus:ring-offset-2 font-medium text-sm focus:text-white no-underline transition-colors duration-150 focus:outline-none dark:hover:text-purple-100 dark:focus:ring-purple-900 dark:focus:text-purple-100 focus:text-black";
const underlineClass = underline ? "underline underline-offset-[3px]" : "";
const groupClass = group ? "group" : "";

const combinedClasses = `${baseClasses} ${underlineClass} ${groupClass}`.trim();
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={combinedClasses}
  {...rest}
>
  <slot />
</a>
