---
type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;

const baseClasses =
  "dark:border-white/20 bg-black/5 hover:bg-black dark:hover:bg-white dark:bg-white/5 shadow-sm my-4 px-2 py-1 border border-black rounded focus:ring focus:ring-purple-900 dark:focus:ring-purple-900 focus:ring-offset-2 font-medium text-black text-sm hover:text-white dark:hover:text-black focus:text-black dark:focus:text-purple-100 dark:text-white no-underline transition-colors duration-300 focus:outline-none";
const underlineClass = underline ? "underline underline-offset-[3px]" : "";
const groupClass = group ? "group" : "";

const combinedClasses = `${baseClasses} ${underlineClass} ${groupClass}`.trim();
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={combinedClasses}
  {...rest}
>
  <slot />
</a>
