---
import type { CollectionEntry } from "astro:content";
import Button from "@/components/Button.astro";
import Icon from "@/components/Icon.astro";

interface Props {
  post?: CollectionEntry<"blog">;
  direction: "prev" | "next";
}

const { post, direction } = Astro.props;

const isPrev = direction === "prev";
const iconName = isPrev ? "arrow-left" : "arrow-right";
const additionalClasses = isPrev ? "pl-10" : "flex-row-reverse pr-10 py-4";
const iconClasses = `absolute top-1/2 -translate-y-1/2 stroke-2 ${isPrev ? "left-2" : "right-2"}`;
---

{
  post?.slug ? (
    <Button
      href={`/blog/${post.slug}`}
      variant="nav"
      group={true}
      class={additionalClasses}
    >
      <Icon name={iconName} class={iconClasses} />
      <div class="flex items-center text-sm">{post.data.title}</div>
    </Button>
  ) : (
    <div class="invisible" />
  )
}
